.card{
  background-color:#fcfbd1;
  height: 50%;
  width: 30%;
  margin: auto;
  padding: 25px 15px;
  box-shadow: 4px 4px #eee;
}
.task{
  display: box;
  padding: 5px 0;
}
.done{
  text-decoration: line-through;
  color: grey;
}
.newTask{
  margin-top: 1em;
}
#todo-title{
  text-align: center;
  margin-top: .4em;
}
