<div class="card">
  <h2 id="todo-title">Angular 2 TODO-APP: </h2>
  <div id="makeIshreadable">You have <b>blank</b> tasks left to complete<div>
  <div *ngFor="let todo of todoList">
      <div class="task" [style.text-decoration]="todo.isDone ? 'line-through' : ''"
        [style.color] = "todo.isDone ? 'grey' : ''" >
          <label>
            <input type="checkbox" [(ngModel)]="todo.isDone">
            {{ todo.itemName }}
          </label>
      </div>
  </div>
  <div class="newTask">
    <input [(ngModel)]="itemName" placeholder="new item">
    <button (click) = "newItemToList(itemName, todoList)">add</button>
  </div>
</div>
